
<div class="banner">
    <div class="banner-text-box">Welcome!<br>Scroll down to see our latest products</div>
</div>

<div class="latest-bar" id="latest-bar">
    <div class="section-title">Browse among our newest products</div>
    <div class="latest-products-container grid"></div>
    <div class="progress-bar">
        <div class="my-bar"></div>
    </div>
</div>

<div class="page-description">
    <div class="section-title">Reasons to choose us</div>
    <button id="jumpUp" class="open-section"><img src="pics/icons/right-arrow.png" alt="https://www.flaticon.com/"></button>
    <div class="description-boxes grid">
        <div class="description-box">
            <div class="section-title">
                Lorem ipsum
            </div>
            <div class="section-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                a efficitur nibh. Phasellus varius nibh id elit ullamcorper,
                sit amet gravida justo ultricies. Sed laoreet purus eget velit faucibus fringilla
            </div>
        </div>
        <div class="description-box">
            <div class="section-title">
                Morbi sem urna
            </div>
            <div class="section-content">
                Etiam metus leo, consequat id iaculis ac, cursus vel dolor. Quisque cursus diam quam, sed rhoncus dui dignissim nec. Nam id sem id sem fringilla mattis.
            </div>
        </div>
        <div class="description-box">
            <div class="section-title">
                Donec eu risus dignissim
            </div>
            <div class="section-content">
                tiam nec justo non turpis placerat faucibus. Praesent ultrices odio non finibus aliquam. Aenean rutrum nunc a gravida efficitur. Vivamus sit amet lacus in sem mattis cursus quis efficitur nisi.
            </div>
        </div>
        <div class="description-box">
            <div class="section-title">
                Vivamus ut ornare nunc.
            </div>
            <div class="section-content">
                Aenean sed nisi metus. Duis arcu lectus, auctor non tortor at, tristique lacinia dui. In id enim mi. Nulla turpis sapien, cursus vitae tincidunt quis, iaculis eu dui.
            </div>
        </div>
    </div>
</div>